.products-containerHaine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filters-titleHaine {
  font-weight: bold;
  font-size: 25px;
}

.filters-typeHaine {
  font-weight: bold;
  font-size: 23px;
  margin-left: 5px;
}

.filter-entryHaine {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-left: 10px;
  cursor: pointer;
}

.selectedHaine {
  color: red;
}

.MuiGrid-item {
  margin: 10px !important;
  box-sizing: border-box;
}

.MuiGrid-container {
  flex-wrap: nowrap !important;
}
